# create local copy of this file and rename to .env.local
# make sure to add .env.local to .gitignore!!
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.wlsrcur.mongodb.net/team14?appName=Cluster0"
